/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f4f4;
  font-family: 'Arial', sans-serif;
}

.container {
  /* flex: 1; */
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.navbar, .footer {
  position: relative;
  background: #100101;
  color: white;
  padding: 1rem;
  margin-bottom: 40px;
  text-align: center;
}

.footer {
  margin-top:auto;
}
