/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffe6f2; /* Light Pink Background */
  font-family: 'Arial', sans-serif;
}

.container {
  flex: 1;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.navbar, .footer {
  position: relative;
  background: #4b3da4; /* Pink Navbar and Footer */
  color: white;
  padding: 1rem;
  margin-bottom: 40px;
  text-align: center;
}

.footer {
  margin-top: auto;
}
